body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.page {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.page:nth-child(odd) {
  background-color: #ffffff;
  color: #000;
}

.page:nth-child(even) {
  background-color: #000;
  color: #ffffff;
}
